
body {
 margin: 0px;
 padding: 0px;
}

.header {
 position: static;
 
 top: 0px;
 height: 100px;
 width; 100%;
 margin: 0px;
 padding: 1px;
 border: 0px;
 background-color: #1abc9c;
 z-index: 2;
 
}

.title {
 margin-left: 70%;
 color: white;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.subtitle {
 margin-left: 70%;
 color: white;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.logo {
 position: absolute;
 top: 5px;
 left: 15px;
}

.wrapper {
 z-index: 0;
 width: 30%;
 height: 100%;
 position: absolute;
 top: 180px;
 left: 33.33%;
 background-color: #e0e0e0;
}
