
body {
 margin: 0px;
 padding: 0px;
}

.header {
 position: static;
 
 top: 0px;
 height: 100px;
 width; 100%;
 margin: 0px;
 padding: 1px;
 border: 0px;
 background-color: #1abc9c;
 
}

.title {
 margin-left: 150px;
 color: white;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.subtitle {
 margin-left: 180px;
 color: white;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}
