
/* Copyright 2019 Ivar Rydstrom */


body {
 margin: 0px;
 padding: 0px;
}

.header {
 position: static;
 
 top: 0px;
 height: 100px;
 width; 100%;
 margin: 0px;
 padding: 1px;
 border: 0px;
 background-color: #1abc9c;
 z-index: 2;
 
}

.title {
 position: absolute;
 margin-top: 0px;
 left: 70%;
 color: white;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 max-width: 30%;
 max-height: 100px;
 top: 5px;
}

.subtitle {
 position: absolute;
 top: 65px; 
 margin-left: 70%;
 color: white;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.logo {
 position: absolute;
 top: 5px;
 left: 15px;
}

.wrapper {
 z-index: 0;
 width: 40%;
 height: auto;
 position: absolute;
 top: 180px;
 padding-bottom: 10px;
 left: 20%;
 background-color: #dcfff9;
 border-radius: 30px;
}

.sidebar{
 width: 20%;
 height: auto;
 position: absolute;
 top: 180px;
 right: 6%;
 background-color: #dcfff9;
 border-radius: 30px;
 padding-bottom: 40px;
}

h2.sidebar-text {
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 text-align: center;
 font-size: 1.4em;
 color: #207357;
}

h3.sidebar-text {
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 text-align: center;
 color: #d81212
}

p.sidebar-text {
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 text-align: center;
 color: grey;
 position: relative;
 top: 25px;
}

.post {
 position: relative;
 left: 5%;
 right 5%;
 width: -webkit-fill-available;
 height: 200px;
 top: 30px;
 background-color: white;
 outline-color: black;
 outline-width: 3px;
 outline-style: outset;
 margin-bottom: 10%;
 padding: 5px;
 padding-bottom: 0px;
 margin-right: 10%;
}

audio {
 position: absolute;
 bottom: 5%;
 left: 10%;
 width:80%;
    
}

.thumbnail {
 position: absolute;
 height: 130px;    
}

.content-wrapper {
 position: absolute;
 height: 200px;
 width: 300px;
 top:0px;
 right: 20px; 
 text-align: center;
}

h2.content {
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 color: black;

}

h3.content {
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 font-size: 1.4em;
 color: #d81212;

}

p.content {
 color: grey;
 text-align: right;
}

.announcement {
 font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
 text-align: center;
}

h1.announcement {
  font-size: 1.5em;   
}

h1.emial {
  color:#d81212;
}
